<h3 class="ui header">{{t "forms.main-search-form.caption"}}</h3>

<form class="ui form flexberry-vertical-form" role="form">
    <div class="field search">
        <label class="searchLabel">{{t "forms.main-search-form.searchMessage"}}</label>
        {{input type="text" class="searchText" value=searchText}}
        <button type="button" class="search" onclick={{action "runSearch"}}>
            <i class="icon search"></i>
        </button>
    </div>
    <div class="field searchResults">
        {{#if showResults}}
        {{#each searchResults as |result|}}
            <div class="field searchResult">
                {{result.index}}) Результат, <b>{{result.FileName}}</b>. Номер страницы, <b>{{result.PageNumber}}</b> из <b>{{result.TotalPages}}</b>. <a class="documentLink" href="{{result.UploadUrl}}">Ссылка</a>
            </div>
        {{/each}}
        {{/if}}
    </div>
</form>